@import "tailwindcss";

/* Sembunyikan elemen tertentu saat print browser langsung */
@media print {
  .no-print {
    display: none !important;
  }
}

/* Pastikan input number tanpa spinner yang mengganggu */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
